<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    <title>Meme</title>


    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- jquery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <!--Link to external css style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/create.css') }}">


</head>


<body>
<br>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><a href="javascript:history.back()" class="btn btn-default"><span
                class="glyphicon glyphicon-chevron-left"></span> Home</a> <strong>Create Memes!</strong></div>
        <div class="panel-body">


            <h4>Select Images from your computer</h4>
            <input type="file" id="imageLoader" name="imageLoader"/>


            <!-- Drop Zone -->
            <br>
            <br>
            <div class="upload-drop-zone" id="drop-zone">
                <canvas id="imageCanvas" width="300" height="300" style="border:3px dashed"></canvas>
            </div>


            <div id="TopText">
                <input type="text" name="Fname" id="words" placeholder="Enter Meme Text ">
                <button id="entertext" class="btn btn-default">Enter</button>
            </div>


            <br>
            <div id="finishButtons">

                <!-- Adpated From BootSnipp http://bootsnipp.com/snippets/featured/group-buttons -->
                <div class="container">
                    <div class="row">
                        <div id="buttons" class="col-md-12">
                            <br/>
                            <div class="ui-group-buttons">
                                <a id="download" download="Meme.png">
                                    <button type="button" id="download1" class="btn btn-primary btn-lg">
                                        Download Meme
                                    </button>

                                </a>

                                <div class="or or-lg"></div>
                                <button type="button" data-toggle="collapse" data-target="#form1"
                                        class="btn btn-success btn-lg">Upload to Meme Base
                                </button>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>

                <br>

                <form class="form-inline collapse" id="form1">

                    <div class="form-group">
                        <label class="sr-only" for="memeNameInput">Meme Name</label>
                        <input type="text" class="form-control" id="memeNameInput" placeholder="Enter Meme Name">
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="memeBaseNameInput">Meme Base Name</label>
                        <input type="text" class="form-control" id="memeBaseNameInput" placeholder="Meme Base Name">
                    </div>


                    <button type="submit" class="btn btn-default">Upload Meme <span
                            class="glyphicon glyphicon-open"></span></button>

                    <br>
                    <br>
                    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
                    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>


                </form>


            </div>


        </div>
    </div>
</div> <!-- /container -->


</body>
<script>


    var imageLoader = document.getElementById('imageLoader');
    imageLoader.addEventListener('change', handleImage, false);
    var canvas = document.getElementById('imageCanvas');
    var ctx = canvas.getContext('2d');

    ctx.font = '30pt Arial';
    ctx.fillStyle = '#CCCCCC';
    ctx.fillText("Upload", 90, 90);
    ctx.fillText("Meme", 90, 160);
    ctx.fillText("Here", 90, 230);


    function handleImage(e) {
        var reader = new FileReader();
        reader.onload = function (event) {
            var img = new Image();
            console.log("var img: " + img);
            img.onload = function () {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.drawImage(img, 0, 0, canvas.width, canvas.height);


            }
            img.src = event.target.result;
            console.log("img src: " + img.src);


        }
        reader.readAsDataURL(e.target.files[0]);


    }


    //http://jsfiddle.net/epistemex/kyjs655r/
    function download() {

        var dt = canvas.toDataURL();
        console.log("dt:", dt)


        this.href = dt;
        console.log("this.href: " + this.href);
    }
    document.getElementById('download').addEventListener('click', download, false);


    $('#form1').on('submit', function (event) {


        //https://davidwalsh.name/convert-image-data-uri-javascript
        var srcdata = canvas.toDataURL("image/png").replace(/^data:image\/(png|jpg);base64,/, '');


        // Ajax Referenced & Adapted from https://github.com/PrettyPrinted/AJAX_Forms_jQuery_Flask/blob/master/static/js/form.js

        $.ajax({
            data: {
                memeName: $('#memeNameInput').val(),
                memeBaseName: $('#memeBaseNameInput').val(),
                data: srcdata

            },
            type: 'POST',
            url: '/process'
        })
                .done(function (data) {

                    if (data.error) {
                        $('#errorAlert').text(data.error).show();
                        $('#errorAlert').fadeTo(2000, 500).slideUp(500, function () {
                            $('#errorAlert').slideUp(500);
                        });

                        $('#successAlert').hide();
                    }
                    else {
                        $('#successAlert').text(data.name).show();
                        $('#successAlert').fadeTo(2000, 500).slideUp(500, function () {
                            $('#successAlert').slideUp(500);
                        });

                        $('#errorAlert').hide();
                    }

                });

        event.preventDefault();

    });


    $('#entertext').click(function () {


        ctx.font = '30pt Impact';
        ctx.fillStyle = 'white';
        ctx.lineWidth = 3;
        // stroke color
        ctx.strokeStyle = 'black';
        ctx.strokeText($("#words").val(), 70, 50);
        ctx.fillText($("#words").val(), 70, 50);
    });


</script>

</html>